
/* ========================= RESET DEFOULT SETTINGS ==========================*/

html, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
    text-decoration:none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ================================== CSS ===================================*/

body{
    font-family: Arial;
    font-size: 15px;
    color: #FFF;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.StartScreen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-size: 100%;
    height: 908px;
    width: 100%;
    background: url(../files/noise/noise_transparent@2x.png),
     -webkit-linear-gradient(top left, #5b483a, #262425, #211F20);
}

/* ================================= HEADER =================================*/

.HeaderConteiner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding-top: 27px;
    height: 60px;
    width: 1200px;
}

h1, h2, h3, h4, h5{
    font-family: Georgia;
    font-style: normal;
    line-height: 130%;
}

h1{
    letter-spacing: 2px;
    font-size: 32px;
    color: #F1CDB3;
}

h2{
    font-size: 44px;
    color: #FFF;
}

h3{
    letter-spacing: 2px;
    font-size: 35px;
    color: #545454;
}

h4{
    letter-spacing: 1.5px;
    font-size: 20px;
    color: #545454;
}

h5{
    letter-spacing: 0.9px;
    font-size: 15px;
    color: #545454;
}


.Logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 61px;
    margin: 0;
}

.Logo span{
    margin: 0;
    padding-left: 3px;
    font-size: 13px;
    line-height: 75%;
    letter-spacing: 0.6px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0,0.25);
}

nav{
    margin: 0;
}

nav ul{
    display: flex;
    flex-direction: row;
}

nav ul li{
    padding-left: 36px;
}

nav ul li a{
    color: #CDCDCD;
}

/* ============================= StartScreen =============================*/

.NotOnly{
    height: 728px;
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    gap: 0 42px;
}

.Content{
    height: 720px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 42px 0;
}

.Content h2{
    padding-top: 163px;
    padding-right: 50px;;
}

.Content p{
    line-height: 155%;
}

.Button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    margin: 0;

    font-family: Georgia;
    font-style: normal;
    font-size: 17px;
    letter-spacing: 1px;
    color: #292929;
}

.ButtonPrimary{
    width: 207px;
    height: 52px;
    background-color: #F1CDB3;
}

/* ================================= About =================================*/

.About{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-size: 100%;
    height: 588px;
    width: 100%;
    background-color: #FFF;
}

.AboutPetsPhoto{
    display: flex;
    align-items: flex-start;
    align-content: center;
    height: 425px;
    width: 300px;
}

.AboutContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 425px;
    width: 1200px;
    gap: 0 120px;
}

.AboutContentContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.AboutContent{
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 397px;
    width: 430px;
    gap: 24px 0;
}

.AboutContent h3{
    padding-right: 25px;
}

.AboutContent p{
    line-height: 160%;
    color: #4C4C4C;
}

/* ================================= Pets =================================*/

.Pets{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-size: 100%;
    height: 877px;
    width: 100%;
    background-color: #F6F6F6;
}

.PetsContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 697px;
    width: 1200px;
    padding-top: 80px;
}

.PetsContentHeading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    height: 90px;
    width: 400px;
}

.PetsContentHeading h3{
    letter-spacing: 2.1px
}


.Slider{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 435px;
    width: 1200px;
}

.Carousel{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    width: 1080px;
}

.Card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 29px 0;

    height: 435px;
    width: 270px;

    color: #545454;
}

.Card p{
    font-family: Georgia;
    font-size: 20px;
    letter-spacing: 1px;
}

.PetsButtonContainer{
    padding-bottom: 10px;
}

.CardButton{
    height: 52px;
    width: 187px;
    color: #292929;
    border-color: #F1CDB3;
}

/* ================================= Help =================================*/

.Help{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    background-size: 100%;
    height: 611px;
    width: 100%;
    background-color: #FFF;
}
.HelpContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 431px;
    width: 1200px;
    padding-top: 80px;
}

.HelpContentHeading{
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 90px;
    width: 310px;
}

.HelpContentHeading h3{
    letter-spacing: 2.1px
}


.HelpGrid{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 55px 117px;

    height: 281px;
    width: 1030px;
}

.HelpGridCells{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* =============================== Donation ===============================*/

.Donation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    background-size: 100%;
    height: 462px;
    width: 100%;
    background-color: #F6F6F6;
}

.DonationContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding-top: 82px;
    height: 282px;
    width: 915px;
}

.DonationContentInformation{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px 0;

    height: 282px;
    width: 380px;
}

.DonationContentHeading{
    letter-spacing: 2.1px;
    height: 90px;
    width: 300px;
}
.ButtonDonation{
    justify-content: space-evenly;
    width: 349px;
    height: 43px;
    border-radius: 10px;
    background-color: #F1CDB3;
}

.ButtonDonation h4{
    letter-spacing: 1.2px;
}

.DonationContentInformation p{
    font-family: Arial;
    font-style: italic;
    line-height: 150%;


    font-size: 12px;
    color: #B2B2B2;
}
